[Desktop Entry]
Encoding=UTF-8
Name=git-all
Comment=convenient way to handle personal repos
Terminal=true
Exec=/usr/bin/git-all.sh
Categories=Utility;Development;Building;
Type=Application